In [44]:
import pandas as pd
from pathlib import Path
import locale

In [17]:
bank_csv = Path("Resources/budget_data.csv")
bank_df = pd.read_csv (bank_csv, encoding="utf-8")

In [20]:
bank_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [46]:
Total_months = bank_df["Date"].count()
Total_months
print("Total Months : ", Total_months)

Total Months :  86

In [49]:
Total_sum = bank_df["Profit/Losses"].sum()
locale.setlocale( locale.LC_ALL, '' )
'English_United States.1252'
locale.currency(Total_sum)
print("Total Sum : ", locale.currency(Total_sum))

Total Sum :  $22564198.00

In [33]:
Average_Changes = bank_df ["Profit/Losses"].mean()
Average_Changes

262374.3953488372

In [34]:
Greatest_Inc = bank_df ["

SyntaxError: unterminated string literal (detected at line 1) (3411403875.py, line 1)

In [ ]:
Greatest_Dec= bank_df